eureka:
    instance:
        prefer-ip-address: true
    client:
        service-url:
            defaultZone: http://admin:${application.registry.password}@localhost:8761/eureka/

    mail:
        host: localhost
        port: 25
        username:
        password:

server:
    port: 8081
    compression:
        enabled: true
        mime-types: text/html,text/xml,text/plain,text/css, application/javascript, application/json
        min-response-size: 1024

application:
    mail: # specific application mail property, for standard properties see MailProperties
        from: skygge_validate@localhost
        base-url: http://my-server-url-to-change # Modify according to your server's URL

